<div class="container">

    <div class="jumbotron">
        <h1 id="color-override">Eat the Burger!</h1>
        <p id="color-override">Make burgers, eat burgers.</p>
        <br>
        <h2 id="color-override">Make a Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger" id="color-override">New Burger:</label>
                    <input type="text" id="newburger" name="burger">
                    {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                    <button type="submit" class="btn btn-success" id="addburger"><span class="fas fa-hamburger"></span></button>
                </div>
            </form>
        </panel>
    </div><!-- /jumbotron -->

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>New Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-cutlery"></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trashburger btn btn-danger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->

</div><!-- /container -->



{{!-- <div class="container">
    <div class="banner row">
        <img src="assets/img/BobsBurgers.jpg">
    </div>
    <div class="burgerContent row">
        <div class="left-well col-md-4 col-xs-12 col-sm-12">
            <h2>Burgers of the Day!</h2>
            {{#each burgers}}
            {{#unless this.devoured}}
            <div class="menu row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p> #{{this.id}} . {{this.burger_name}} </p>
                </div>
                <form action="burgers/update/{{this.id}}?_method=PUT" method="POST" id="offMenu"
                    class="col-md-6 col-sm-6 col-xs-6">
                    <input type="hidden" name="devoured" value="false" class="col-md-6 col-sm-6 col-xs-6">
                    <button type="submit" class="btn btn-info">Order It!</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>


        <div class="bottom-well col-md-4 col-xs-12 col-sm-12">
            <h2>Add a Burger to the Menu</h2>
            <form class="create-update-form" action="burgers/create" method="POST">
                <div class="form-group row">
                    <label class="col-md-4 col-sm-4 col-xs-4" for="burgerInput">Burger Name:</label>
                    <input class="col-md-4 col-sm-4 col-xs-4" type="text" id="burgerInput" name="name">
                    <input type="hidden" name="devoured" value="false">
                    <button type="submit" class="btn btn-info col-md-4 col-sm-4 col-xs-4">Add Burger</button>
                </div>
            </form>
        </div>


        <div class="right-well col-md-4 col-xs-12 col-sm-12">
            <h2>Burger Order</h2>
            {{#each burgers}}
            {{#if this.devoured}}
            <div class="order row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p> #{{this.id}} . {{this.burger_name}} </p>
                </div>
                <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST" id="offOrder">
                    <button type="submit" class="btn btn-info"> Take Off My Order</button>
                </form>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<footer>
    <p>&copy; copyright Cheree and Bob's Burgers</p>
</footer> --}}



{{!-- <div class="col-xs-12 text-center" id="top-bar">
            <h1>Bob's Burgers!</h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}, {{this.burger_name}}</pre>
                </div>
                <div class="col-xs-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-default">DEVOUR IT!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div> --}}

{{!-- <div class="col-xs-6 text-center" class="task">
            {{#each burger_data}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="contain">
    <div class="row">
        <div class="col-xs-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
            </form>
            <p>Enter in a burger you would like to eat!</p>
        </div>
    </div>
</div> --}}